/* COMMON */
@font-face {
    font-family: "SF Pro Display";
    src: url("./fonts/SF-Pro-Display-Regular.woff") format("woff");
}

:root {
    --background-color: #f9f9fc;
    --accent-color: #0066CC;
    --hyperlink-color: #00a9ff;
    --inform-color: #ccccd1;
}

body {
    font-family: "SF Pro Display", "Apple SD Gothic Neo", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing : 0.03em;
}

img {
    display: block;
    pointer-events : none;
}

a {
    text-decoration: none;
    color: #999;
}

.inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}