/* HEADER */
header {
  background-color: #f9f9fc;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

header > .inner {
  height: 40px;
}

header .logo img {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50px;
  margin: auto;
  cursor: pointer;
}

header .main-menu {
  display: flex;
  position: absolute;
  left: 190px;
  z-index: 1;
}

header .main-menu .item .item__name {
  padding: 12px 30px 0px 20px;
  font-size: 13px;
}

header .main-menu .item:hover .item__name {
  background-color: #f9f9fc;
}

header .main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}

header .main-menu .item:hover .item__contents {
  display: block;
}

header .main-menu .item .item__contents .contents__menu {
  background-color: #f9f9fc;
}

header .main-menu .item .item__contents .contents__menu > ul {
  display: flex;
  padding: 20px 0px;
  left: 120px;
  top: 20px;
}

header .main-menu .item .item__contents .contents__menu > ul > li {
  width: 300px;
}

header .main-menu .item .item__contents .contents__menu > ul > li h4 {
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #000;
}

header .main-menu .item .item__contents .contents__menu > ul > li h4 a{
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #0066CC;
  text-decoration: underline;
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li:last-child {
  margin-bottom: 20px;
}

header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
  color: #000;
}