/* REVIEW */

/* main */
.main {
  margin-top: 40px;
  background-color: #fff;
  position: relative;
}

.main .inner {
  position: relative;
  top: 10px;
  display: flex;
}

.main .inner .text-box {
  height: 80px;
  width: 100%;
  position: relative;
}

.main .inner span {
  font-size: 30px;
  top: 17px;
  position: absolute;
  left: 60px;
}

.main .inner .text {
  position: absolute;
  border: 1px solid #ccccd1;
  border-radius: 5px;
  padding: 10px 20px;
  left: 60px;
  top: 100px;
  width: 100%;
  background-color: #fafafd;
  color: #000;
  font-weight: 700;
  width: 900px;
}

.main .inner .text-box .plain {
  margin-top: 10px;
  font-weight: 400;
}

.main .inner .text-box .plain a{
  color: #0066CC;
}

.main .gridWrapper {
  left: 440px;
  top: -350px;
  position: relative;
  width: 1000px;
}

.main .gridWrapper .pagination {
  left: 440px;
  top: 1150px;
  position: relative;
}
